<section class="bg-primary text-black py-16 font-sans">
  <div class="container mx-auto">
    <div class="text-center">
      <h1 class="text-4xl font-bold">90:24</h1>
      <h2 class="text-2xl">Dress like your idols</h2>
    </div>
  </div>
</section>


<section class="py-16">
  <div class="container mx-auto font-sans">
    <div class="relative overflow-hidden rounded-lg">
      <!-- Slides Container -->
      <div #carouselWrapper class="carousel-wrapper flex transition-transform duration-700 ease-in-out">
        <!-- Slide 1 -->
        <div class="carousel-slide min-w-full h-64 bg-cover bg-center" style="background-image: url('http://localhost:8085/media/f.elconfidencial.com_original_9ef_43c_97e_9ef43c97e95f47883dc33eea68b1d7a7.jpg');">
          <div class="bg-black bg-opacity-50 h-full flex items-center justify-center">
            <span class="text-white font-bold text-lg text-center">Bienvenid@ a la tienda de camisetas de fútbol y baloncesto del momento</span>
          </div>
        </div>
        <!-- Slide 2 -->
        <div class="carousel-slide min-w-full h-64 bg-cover bg-center" style="background-image: url('http://localhost:8085/media/futbolpasiones.jpg');">
          <div class="bg-black bg-opacity-50 h-full flex items-center justify-center">
            <span class="text-white font-bold text-lg text-center">Camisetas originales y de gran calidad</span>
          </div>
        </div>
        <!-- Slide 3 -->
        <div class="carousel-slide min-w-full h-64 bg-cover bg-center" style="background-image: url('http://localhost:8085/media/850697_71e242d2371549a7baf5e299d7a336eb~mv2.webp');">
          <div class="bg-black bg-opacity-50 h-full flex items-center justify-center">
            <span class="text-white font-bold text-lg text-center">Contamos con una gran colección de ligas, equipos y modalidades</span>
          </div>
        </div>
        <!-- Slide 4 -->
        <div class="carousel-slide min-w-full h-64 bg-cover bg-center" style="background-image: url('http://localhost:8085/media/5grandesligas.jpeg');">
          <div class="bg-black bg-opacity-50 h-full flex items-center justify-center">
            <span class="text-white font-bold text-lg text-center">Envíos rápidos y seguros con un plazo máximo de 48h</span>
          </div>
        </div>
      </div>
      <!-- Navigation -->
      <div class="absolute inset-0 flex items-center justify-between">
        <button id="prev" class="p-2 bg-white bg-opacity-50 rounded-full hover:bg-opacity-75">‹</button>
        <button id="next" class="p-2 bg-white bg-opacity-50 rounded-full hover:bg-opacity-75">›</button>
      </div>
    </div>
  </div>
</section>



<section class="py-16">
  <div class="container mx-auto">
    <div class="flex flex-wrap items-center">
      <div class="w-full md:w-1/2 px-4 mb-8">
        <h2 class="text-3xl font-sans font-bold mb-4">Camisetas Versión Jugador</h2>
        <p class="font-sans">¿Quieres sentirte como uno de tus ídolos?</p>
        <p class="font-sans">Échale un vistazo a nuestra colección de camisetas de fútbol y baloncesto Player Version y viste como los mejores jugadores del momento.</p>
        <p class="font-sans"><a *ngIf="isLogged() && isUserNormal()" [routerLink]="['/usuario', 'camiseta', 'plist', 'bymodalidad', 2]" class="text-blue-500 underline">Ver colección</a></p>
      </div>
      <div class="w-full md:w-1/2 px-4 mb-8">
        <img src="http://localhost:8085/media/f.elconfidencial.com_original_9ef_43c_97e_9ef43c97e95f47883dc33eea68b1d7a7.jpg" alt="Player Version" class="rounded-lg shadow-md">
      </div>
    </div>
  </div>
</section>

<section class="py-16">
  <div class="container mx-auto">
    <div class="flex flex-wrap items-center">
      <div class="w-full md:w-1/2 px-4 mb-8">
        <img src="http://localhost:8085/media/futbolpasiones.jpg" alt="Fan Version" class="rounded-lg shadow-md">
      </div>
      <div class="w-full md:w-1/2 px-4 mb-8">
        <h2 class="text-3xl font-sans font-bold">Camisetas Versión Fan</h2>
        <p class="font-sans">En 90:24 encontrarás las mejores camisetas para animar a tu equipo al estadio</p>
        <p class="font-sans"><a *ngIf="isLogged() && isUserNormal()" [routerLink]="['/usuario', 'camiseta', 'plist', 'bymodalidad', 3]" class="text-blue-500 underline">Ver colección</a></p>
      </div>
    </div>
  </div>
</section>

<section class="py-16">
  <div class="container mx-auto">
    <div class="flex flex-wrap items-center">
      <div class="w-full md:w-1/2 px-4 mb-8">
        <h2 class="text-3xl font-sans font-bold mb-4">Camisetas Versión Retro</h2>
        <p class="font-sans">¿Eres un nostálgico de aquellos viejos buenos tiempos?</p>
        <p class="font-sans">Viaja en el tiempo con nuestra colección de camisetas Retro.</p>
        <p class="font-sans"><a *ngIf="isLogged() && isUserNormal()" [routerLink]="['/usuario', 'camiseta', 'plist', 'bymodalidad', 1]" class="text-blue-500 underline">Ver colección</a></p>
      </div>
      <div class="w-full md:w-1/2 px-4 mb-8">
        <img src="http://localhost:8085/media/850697_71e242d2371549a7baf5e299d7a336eb~mv2.webp" alt="Retro Version" class="rounded-lg shadow-md">
      </div>
    </div>
  </div>
</section>

<section class="py-16">
  <div class="container mx-auto">
    <div class="flex flex-wrap items-center">
      <div class="w-full md:w-1/2 px-4 mb-8">
        <img src="http://localhost:8085/media/5grandesligas.jpeg" alt="Ligas" class="rounded-lg shadow-md">
      </div>
      <div class="w-full md:w-1/2 px-4 mb-8 font-sans">
        <h2 class="text-3xl font-sans font-bold">Visita nuestra colección de ligas</h2>
        <p class="font-sans">Contamos con las camisetas de las mejores ligas de fútbol y baloncesto</p>
        <p class="font-sans"><a *ngIf="isLogged() && isUserNormal()" [routerLink]="['/usuario', 'liga', 'plist']" class="text-blue-500 underline">Ver ligas disponibles</a></p>
      </div>
    </div>
  </div>
</section>

