 .carousel-container {
      height: 33vh;
      position: relative; /* Ajusta esta altura según tus necesidades */
    }

    .carousel-indicators {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      gap: 0.5rem;
    }

    .carousel-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 30;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3rem;
      height: 3rem;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 50%;
      cursor: pointer;
      transition: background-color 0.3s;
    }
    .carousel-button:hover {
      background-color: rgba(255, 255, 255, 0.75);
    }
    .carousel-button svg {
      width: 1.5rem;
      height: 1.5rem;
      color: black;
    }
    .carousel-button-prev {
      left: 1rem;
    }
    .carousel-button-next {
      right: 1rem;
    }
  

@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}

img, h2, p {
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 25% cover 30%;
    animation-fill-mode: both;
}

