<section class="hero is-primary is-medium">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        90:24
      </h1>
      <h2 class="subtitle">
        Dress like your idols
      </h2>
    </div>
  </div>
</section>

<!-- Main Content Section -->
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-one-third">
        <div class="box">
          <h3 class="title is-4">Nuestros Productos</h3>
          <p>Descubre nuestra colección de camisetas de fútbol y baloncesto de alta calidad.</p>
        </div>
      </div>
      <div class="column is-one-third">
        <div class="box">
          <h3 class="title is-4">Ofertas Especiales</h3>
          <p>¡Aprovecha nuestras ofertas especiales en productos seleccionados!</p>
        </div>
      </div>
      <div class="column is-one-third">
        <div class="box">
          <h3 class="title is-4">Envío Gratis</h3>
          <p>Disfruta del envío gratuito en todas tus compras.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-half">
        <h2 class="title is-3"> Camisetas Versión Jugador</h2>
        <p>¿Quieres sentirte cómo uno de tus ídolos?</p>
        <p>Échale un vistazo a nuestra colección de camisetas de fútbol y baloncesto Player Version y viste como los mejores jugadores del momento.</p>
        <p><a *ngIf="isLogged()" [routerLink]="['/usuario', 'camiseta', 'plist', 'bymodalidad', 2]">Ver colección</a></p>
      </div>
      <div class="column is-half">
        <img src="http://localhost:8085/media/f.elconfidencial.com_original_9ef_43c_97e_9ef43c97e95f47883dc33eea68b1d7a7.jpg" alt="Player Version" class="image is-4by3">
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column">
        <img src="http://localhost:8085/media/futbolpasiones.jpg" alt="Fan Version" class="image is-4by3">
      </div>
      <div class="column">
        <h2 class="title">Camisetas Versión Fan</h2>
        <p>En 90:24 encontrarás las mejores camisetas para animar a tu equipo al estadio</p>
        <p><a *ngIf="isLogged()" [routerLink]="['/usuario', 'camiseta', 'plist', 'bymodalidad', 3]">Ver colección</a></p>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-half">
        <h2 class="title is-3">Camisetas Versión Retro</h2>
        <p>¿Eres un nostálgico de aquellos viejos buenos tiempos?</p>
        <p>Viaja en el tiempo con nuestra colección de camisetas Retro.</p>
        <p><a *ngIf="isLogged()" [routerLink]="['/usuario', 'camiseta', 'plist', 'bymodalidad', 1]">Ver colección</a></p>
      </div>
      <div class="column is-half">
        <img src="http://localhost:8085/media/850697_71e242d2371549a7baf5e299d7a336eb~mv2.webp" alt="Retro Version" class="image is-4by3">
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-half">
        <img src="http://localhost:8085/media/5grandesligas.jpeg" alt="Ligas" class="image is-4by3">
      </div>
      <div class="column is-half">
        <h2 class="title is-3" >Visitra nuestra colección de ligas</h2>
        <p>Contamos con las camisetas de las mejores ligas de fútbol y baloncesto</p>
        <p><a *ngIf="isLogged()" [routerLink]="['/usuario', 'liga', 'plist']">Ver ligas disponibles</a></p>
      </div>
    </div>
  </div>
</section>