<div class="container mx-auto font-sans" id="userGrid">
  <!-- Menú desplegable para ordenar -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
  <div class="field">
    <label class="label">Ordenar por:</label>
    <div class="control">
      <div class="select">
        <select #selectEvent (change)="doOrder(selectEvent.value)">
          <option value="id">ID</option>
          <option value="nombre">Nombre</option>
          <option value="apellido">Apellido</option>
          <option value="username">Usuario</option>
          <option value="email">Email</option>
          <option value="direccion">Dirección</option>
          <option value="telefono">Teléfono</option>
        </select>
      </div>
    </div>
  </div>
</div>

  <!-- Contenido de usuarios -->
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-4">
    <ng-container *ngIf="page?.content">
    <div class="column" *ngFor="let usuario of page?.content">
      <div class="card h-full flex flex-col">
        <div class="card-content flex-grow">
          <p class="title text-xl cursor-pointer" (click)="doView(usuario)"> {{ usuario.nombre }} {{ usuario.apellido }}</p>
            <p><strong>Nombre de Usuario:</strong> {{ usuario.username }}</p>
            <p><strong>Email:</strong> {{ usuario.email }}</p>
            <p><strong>Dirección:</strong> {{ usuario.direccion }}</p>
            <p><strong>Teléfono:</strong> {{ usuario.telefono }}</p>
            <p><strong>Tipo de Usuario:</strong> {{ usuario.tipo ? 'Administrador' : 'Usuario' }}</p>
            <p><strong>Número de Carritos:</strong> {{ usuario.carritos }}</p>
            <p><strong>Número de Valoraciones:</strong>
              <ng-container *ngIf="usuario.valoraciones > 0; else noValoraciones"> 
                <a [routerLink]="['/admin', 'valoracion', 'plist', 'byusuario', usuario.id]" class="text-blue-500"> {{ usuario.valoraciones }}</a>
              </ng-container>
              <ng-template #noValoraciones>
                {{ usuario.valoraciones }}
              </ng-template> 
            </p>
            <p><strong>Número de Compras:</strong>
              <ng-container *ngIf="usuario.compras > 0; else noCompras">
                <a [routerLink]="['/admin', 'compra', 'plist', 'byusuario', usuario.id]" class="text-blue-500"> {{ usuario.compras }}</a>
              </ng-container>
              <ng-template #noCompras>
                {{ usuario.compras }}
              </ng-template>
            </p>
        </div>
        <footer class="card-footer">
          <button class="card-footer-item text-white bg-tradewind-500 hover:bg-tradewind-700" [routerLink]="['/admin', 'usuario', 'edit', usuario.id]">
            <i class="pi pi-pencil mr-2"></i>
            Actualizar
          </button>
          <button class="card-footer-item text-white bg-stiletto-500 hover:bg-stiletto-700" (click)="doRemove(usuario)" [class.invisible]="usuario.valoraciones > 0 || usuario.compras > 0 || usuario.carritos > 0">
            <i class="pi pi-trash mr-2"></i>
            Eliminar
          </button>
        </footer>
      </div>
    </div>
    </ng-container>
    <div class="column" *ngIf="!page?.content || page?.content?.length === 0">
      <div class="notification bg-governor-bay-200 text-governor-bay-800">
        No hay usuarios para mostrar.
      </div>
    </div>
  </div>

  <!-- Paginación -->
  <div class="flex justify-center mb-3">
    <p-paginator (onPageChange)="onPageChange($event)" [rows]="paginatorState.rows!" [totalRecords]="page?.totalElements || 0" [rowsPerPageOptions]="[12, 24, 36]"></p-paginator>
  </div>
</div>

<p-confirmPopup></p-confirmPopup>

