<footer class="bg-tradewind-500 text-governor-bay-600 py-6 font-sans">
  <div class="container mx-auto px-6">
    <div class="flex flex-col lg:flex-row lg:justify-between items-center">
      <!-- Contenido alineado horizontalmente en pantallas de escritorio -->
      <div class="mb-4 lg:mb-0"> <!-- Margen inferior solo en dispositivos móviles -->
        <p class="mb-4 lg:mb-0">&copy; 2024 90:24 by Jaime Serrano. All rights reserved.</p>
        <p>
          <a href="#" class="text-governor-bay-600">Términos y privacidad</a>
        </p>
      </div>

      <!-- Contenido alineado horizontalmente en pantallas de escritorio -->
      <div class="flex mb-4 lg:mb-0">
        <a href="#" class="text-governor-bay-600 mr-4">
          <i class="fab fa-facebook-square text-xl"></i> <!-- Reemplaza con el icono de Facebook -->
        </a>
        <a href="#" class="text-governor-bay-600 mr-4">
          <i class="fab fa-twitter-square text-xl"></i> <!-- Reemplaza con el icono de Twitter -->
        </a>
        <a href="#" class="text-governor-bay-600">
          <i class="fab fa-instagram-square text-xl"></i> <!-- Reemplaza con el icono de Instagram -->
        </a>
      </div>
    </div>
  </div>
</footer>
