<div class="flex justify-center items-center h-screen font-sans">
  <div class="max-w-md bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
  <h1 class="text-2xl font-bold mb-6">Formulario de Modalidad</h1>
  <form [formGroup]="modalidadForm" (submit)="onSubmit()">
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2">Nombre</label>
      <div class="control">
        <input class="appearance-none border rounded w-full border border-governor-bay-400 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" formControlName="nombre" placeholder="Nombre de la modalidad">
        <div class="text-stiletto-700" *ngIf="hasError('nombre', 'required') && modalidadForm.get('nombre')?.touched">No has introducido el nombre</div>
        <div class="text-stiletto-700" *ngIf="hasError('nombre', 'minlength')">El nombre es demasiado corto, debe tener al menos 3 carácteres</div>
        <div class="text-stiletto-700" *ngIf="hasError('nombre', 'maxlength')">El nombre es demasiado largo</div>
      </div>
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2">Imagen</label>
        <input class="appearance-none border rounded w-full  border border-governor-bay-400 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="file" (change)="onFileSelected($event)">
    </div>
    <div class="flex items-center justify-between">
        <button class="bg-governor-bay-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mr-2" type="submit">Guardar</button>
        <button class="bg-stiletto-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" [routerLink]="['/admin', 'modalidad', 'plist']">Cancelar</button>
    </div>
  </form>
</div>
</div>
