<div class="section">
  <div class="container mx-auto">
    <div class="flex flex-wrap justify-center items-center mb-4">
      <div class="m-2">
        <button class="bg-tradewind-500 hover:bg-tradewind-700 text-white font-bold py-2 px-4 rounded" (click)="doGenerateModalidades(10)" [disabled]="bLoading">
          Generar modalidades
        </button>
      </div>
      <div class="m-2">
        <button class="bg-stiletto-700 hover:bg-stiletto-900 text-white font-bold py-2 px-4 rounded" (click)="doEmpty($event)" [disabled]="bLoading">
          Eliminar modalidades
        </button>
      </div>
      <div class="m-2">
        <button class="bg-governor-bay-500 hover:bg-governor-bay-700 text-white font-bold py-2 px-4 rounded" [routerLink]="['/admin', 'modalidad', 'new']">Añadir nueva modalidad</button>
      </div>
    </div>
      <div class="flex justify-center" *ngIf="bLoading">
        <mat-spinner diameter="30" color="accent"></mat-spinner>
      </div>
    <app-admin-modalidad-plist-unrouted [forceReload]="forceReload" *ngIf="!bLoading"></app-admin-modalidad-plist-unrouted>
  </div>
</div>

<p-confirmPopup></p-confirmPopup>