<div class="container">
  <div class="notification" *ngIf="id_equipo>0">
    Filtrando por equipo: {{ equipo?.nombre}}
    <button class="delete" *ngIf="id_equipo>0" [routerLink]="['/admin', 'camiseta', 'plist']">Quitar filtro</button>
  </div>
  <div class="notification" *ngIf="id_modalidad>0">
    Filtrando por modalidad: {{ modalidad?.nombre}}
    <button class="delete" *ngIf="id_modalidad>0" [routerLink]="['/admin', 'camiseta', 'plist']">Quitar filtro</button>
  </div>
  <div class="notification" *ngIf="id_liga>0">
    Filtrando por liga: {{ liga?.nombre}}
    <button class="delete" *ngIf="id_liga>0" [routerLink]="['/admin', 'camiseta', 'plist']">Quitar filtro</button>
  </div>

  <div class="field">
    <label class="label">Ordenar por:</label>
    <div class="control">
      <div class="select">
        <select #selectElement (change)="doOrder(selectElement.value)">
          <option value="titulo">Título</option>
          <option value="equipo.nombre">Equipo</option>
          <option value="modalidad.nombre">Modalidad</option>
          <option value="liga.nombre">Liga</option>
          <option value="precio">Precio</option>
          <option value="stock">Stock</option>
          <option value="carritos">En carritos</option>
          <option value="valoraciones">Valoraciones</option>
          <option value="detalleCompras">Compras</option>
        </select>
      </div>
    </div>
  </div>

  <div class="field">
    <label class="label">Buscar por título:</label>
    <div class="control">
      <input class="input" type="text" placeholder="Ingrese el título" [(ngModel)]="searchText">
    </div>
    <button class="button is-primary" (click)="searchCamisetas(searchText)">Buscar</button>
  </div>

  <div class="columns is-multiline">
    <ng-container *ngIf="page?.content">
      <div class="column is-one-third" *ngFor="let camiseta of page?.content">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="{{ camiseta.imagen }}" alt="Imagen de la camiseta">
            </figure>
          </div>
          <div class="card-content">
            <p class="title is-4" (click)="doView(camiseta)"> {{camiseta.titulo}} </p>
            <p><strong>Equipo:</strong> <a [routerLink]="['/admin', 'camiseta', 'plist', 'byequipo', camiseta.equipo.id]">{{camiseta.equipo.nombre}}</a></p>
            <p><strong>Modalidad:</strong><a [routerLink]="['/admin', 'camiseta', 'plist', 'bymodalidad', camiseta.modalidad.id]"> {{camiseta.modalidad.nombre}}</a></p>
            <p><strong>Liga:</strong><a [routerLink]="['/admin', 'camiseta', 'plist', 'byliga', camiseta.liga.id]"> {{camiseta.liga.nombre}}</a></p>
            <p><strong>Precio:</strong> {{camiseta.precio}} €</p>
            <p><strong>Stock:</strong> {{camiseta.stock}}</p>
            <p><strong>En carritos: {{camiseta.carritos}}</strong></p>
            <p><strong>Valoraciones: {{camiseta.valoraciones}}</strong></p>
            <p><strong>Compras: {{camiseta.detalleCompras}}</strong></p>
          </div>
          <footer class="card-footer">
            <!-- Botón para ver detalles -->
            <a class="card-footer-item" [routerLink]="['/admin', 'camiseta', 'edit', camiseta.id]">Actualizar</a>
            <!-- Botón para eliminar -->
            <a class="card-footer-item" (click)="doRemove(camiseta)">Eliminar</a>
          </footer>
        </div>
      </div>
    </ng-container>
    <div class="column" *ngIf="!page?.content || page?.content?.length === 0">
      <div class="notification is-warning">
        No se encontraron camisetas.
      </div>
     </div>
  </div>

  <div class="level is-justify-content-center mb-3">
    <p-paginator (onPageChange)="onPageChange($event)" [rows]="paginatorState.rows!" [totalRecords]="page?.totalElements || 0" [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
  </div>
    
</div>