<div class="font-sans container mx-auto">
  
  <div class="mt-4" *ngIf="id_equipo > 0">
    <div class="bg-governor-bay-100 border border-governor-bay-400 text-governor-bay-700 px-4 py-3 rounded relative" role="alert">
      Filtrando por equipo: {{ equipo?.nombre }}
      <button class="absolute top-0 bottom-0 right-0 px-4 py-3" [routerLink]="['/admin', 'camiseta', 'plist']">
        <svg class="fill-current h-6 w-6 text-blue-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <title>Close</title>
          <path fill-rule="evenodd" d="M3.293 4.293a1 1 0 011.414 0L10 8.586l5.293-5.293a1 1 0 111.414 1.414L11.414 10l5.293 5.293a1 1 0 01-1.414 1.414L10 11.414l-5.293 5.293a1 1 0 01-1.414-1.414L8.586 10 3.293 4.707a1 1 0 010-1.414z" clip-rule="evenodd" />
        </svg>
      </button>
    </div>
  </div>

  <div class="mt-4" *ngIf="id_modalidad > 0">
    <div class="bg-governor-bay-100 border border-governor-bay-400 text-governor-bay-700 px-4 py-3 rounded relative" role="alert">
      Filtrando por modalidad: {{ modalidad?.nombre }}
      <button class="absolute top-0 bottom-0 right-0 px-4 py-3" [routerLink]="['/admin', 'camiseta', 'plist']">
        <svg class="fill-current h-6 w-6 text-blue-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <title>Close</title>
          <path fill-rule="evenodd" d="M3.293 4.293a1 1 0 011.414 0L10 8.586l5.293-5.293a1 1 0 111.414 1.414L11.414 10l5.293 5.293a1 1 0 01-1.414 1.414L10 11.414l-5.293 5.293a1 1 0 01-1.414-1.414L8.586 10 3.293 4.707a1 1 0 010-1.414z" clip-rule="evenodd" />
        </svg>
      </button>
    </div>
  </div>

  <div class="mt-4" *ngIf="id_liga > 0">
    <div class="bg-governor-bay-100 border border-governor-bay-400 text-governor-bay-700 px-4 py-3 rounded relative" role="alert">
      Filtrando por liga: {{ liga?.nombre }}
      <button class="absolute top-0 bottom-0 right-0 px-4 py-3" [routerLink]="['/admin', 'camiseta', 'plist']">
        <svg class="fill-current h-6 w-6 text-blue-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <title>Close</title>
          <path fill-rule="evenodd" d="M3.293 4.293a1 1 0 011.414 0L10 8.586l5.293-5.293a1 1 0 111.414 1.414L11.414 10l5.293 5.293a1 1 0 01-1.414 1.414L10 11.414l-5.293 5.293a1 1 0 01-1.414-1.414L8.586 10 3.293 4.707a1 1 0 010-1.414z" clip-rule="evenodd" />
        </svg>
      </button>
    </div>
  </div>


  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <!-- Ordenar por -->
    <div class="field">
      <label class="label">Ordenar por:</label>
      <div class="control">
        <div class="select">
          <select #selectElement (change)="doOrder(selectElement.value)">
            <option value="titulo">Título</option>
            <option value="equipo.nombre">Equipo</option>
            <option value="modalidad.nombre">Modalidad</option>
            <option value="liga.nombre">Liga</option>
            <option value="precio">Precio</option>
            <option value="stock">Stock</option>
            <option value="carritos">En carritos</option>
            <option value="valoraciones">Valoraciones</option>
            <option value="detalleCompras">Compras</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-4">
    <!-- Camisetas -->
    <ng-container *ngIf="page?.content">
      <div class="column" *ngFor="let camiseta of page?.content">
        <div class="card h-full flex flex-col">
          <div class="card-image">
              <img src="{{ camiseta.imagen }}" alt="Imagen de la camiseta" class="w-full h-80 object-cover">
          </div>
          <div class="card-content flex-grow">
            <p class="title text-xl cursor-pointer" (click)="doView(camiseta)"> {{camiseta.titulo}} </p>
            <p><strong>Equipo:</strong> <a [routerLink]="['/admin', 'camiseta', 'plist', 'byequipo', camiseta.equipo.id]" class="text-blue-500"> {{camiseta.equipo.nombre}}</a></p>
            <p><strong>Modalidad:</strong><a [routerLink]="['/admin', 'camiseta', 'plist', 'bymodalidad', camiseta.modalidad.id]" class="text-blue-500"> {{camiseta.modalidad.nombre}}</a></p>
            <p><strong>Liga:</strong><a [routerLink]="['/admin', 'camiseta', 'plist', 'byliga', camiseta.liga.id]" class="text-blue-500"> {{camiseta.liga.nombre}}</a></p>
            <p><strong>Precio:</strong> {{camiseta.precio}} €</p>
            <p><strong>Stock:</strong> {{camiseta.stock}}</p>
            <p><strong>En carritos:</strong> {{camiseta.carritos}}</p>
            <p><strong>Valoraciones</strong>: 
              <ng-container *ngIf="camiseta.valoraciones > 0; else noValoraciones">
                <a [routerLink]="['/admin', 'valoracion', 'plist', 'bycamiseta', camiseta.id]" class="text-blue-500">{{camiseta.valoraciones}}</a>
              </ng-container>
              <ng-template #noValoraciones>
                {{camiseta.valoraciones}}
              </ng-template>
            </p>
            <p><strong>Compras:</strong> {{camiseta.detalleCompras}}</p>
          </div>
          <footer class="card-footer">
             <!-- Botón para ver detalles -->
            <button class="card-footer-item text-white bg-tradewind-500 hover:bg-tradewind-700" [routerLink]="['/admin', 'camiseta', 'edit', camiseta.id]">
              <i class="pi pi-pencil mr-2"></i>
              Actualizar
            </button>
            <!-- Botón para eliminar -->
            <button class="card-footer-item text-white bg-stiletto-500 hover:bg-stiletto-700" (click)="doRemove(camiseta)" [class.invisible]="camiseta.valoraciones > 0 || camiseta.detalleCompras > 0">
              <i class="pi pi-trash mr-2"></i>
              Eliminar
            </button>
          </footer>
        </div>
      </div>
    </ng-container>
    <div class="column" *ngIf="!page?.content || page?.content?.length === 0">
      <div class="notification bg-governor-bay-200">
        No se encontraron camisetas.
      </div>
    </div>
  </div>
  <div class="level is-justify-content-center mb-3">
    <p-paginator (onPageChange)="onPageChange($event)" [rows]="paginatorState.rows!" [totalRecords]="page?.totalElements || 0" [rowsPerPageOptions]="[12, 24, 36]"></p-paginator>
  </div>
    
</div>
