<div class="container">
  <div class="notification" *ngIf="id_compra>0">
    Mostrando los datos de la compra: {{compra?.codigoPedido}}
  </div>

  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>ID</th>
        <th>Camiseta</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>IVA</th>
        <th>Descuento</th>
        <th>Porcentaje de Descuento</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let detalleCompra of page?.content">
        <td>{{detalleCompra.id}}</td>
        <td>{{detalleCompra.camiseta.titulo}}</td>
        <td>{{detalleCompra.precio}}</td>
        <td>{{detalleCompra.cantidad}}</td>
        <td>{{detalleCompra.iva}}%</td>
        <td>{{detalleCompra.descuento ? 'Con descuento' : 'Sin descuento'}}</td>
        <td>{{detalleCompra.porcentajeDescuento}}%</td>
      </tr>
    </tbody>
  </table>
</div>