<div class="container mx-auto">
  <!-- Menú desplegable para ordenar -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div class="field">
    <label class="label">Ordenar por:</label>
      <div class="control">
        <div class="select">
          <select #selectElement (change)="doOrder(selectElement.value)">
            <option value="nombre">Nombre</option>
            <option value="pais">País</option>
            <option value="deporte">Deporte</option>
            <option value="equipos">Número de Equipos</option>
            <option value="camisetas">Número de Camisetas</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <!-- Contenido de ligas -->
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-4">
    <ng-container *ngIf="page?.content">
    <div class="column" *ngFor="let liga of page?.content">
      <div class="card">
        <div class="card-image">
            <img src="{{liga.imagen}}" alt="Imagen de la liga" class="w-full h-80 object-cover">
        </div>
        <div class="card-content">
            <p class="title text-xl cursor-pointer" (click)="doView(liga)">{{liga.nombre}}</p>
            <p><strong>País:</strong> {{ liga.pais }}</p>
            <p><strong>Deporte:</strong> {{ liga.deporte }}</p>
            <p><strong>Número de Equipos:</strong> <a [routerLink]="['/admin', 'equipo', 'plist', 'byliga', liga.id]" class="text-blue-500"> {{ liga.equipos }}</a></p>
            <p><strong>Número de Camisetas:</strong> <a [routerLink]="['/admin', 'camiseta', 'plist', 'byliga', liga.id]" class="text-blue-500"> {{ liga.camisetas }}</a></p>
        </div>
        <footer class="card-footer">
          <a class="card-footer-item" [routerLink]="['/admin', 'liga', 'edit', liga.id]">Actualizar</a>
          <a class="card-footer-item" (click)="doRemove(liga)">Eliminar</a>
        </footer>
      </div>
    </div>
    </ng-container>
  </div>
  

  <!-- Mensaje si no hay ligas -->
  <div class="column" *ngIf="!page?.content || page?.content?.length === 0">
    <div class="notification bg-governor-bay-200 text-governor-bay-800">
      No hay ligas para mostrar.
    </div>
  </div>

  <!-- Paginación -->
  <div class="level is-justify-content-center mb-3">
    <p-paginator (onPageChange)="onPageChange($event)" [rows]="paginatorState.rows!" [totalRecords]="page?.totalElements || 0" [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
  </div>
</div>


