<div class="flex justify-center items-center mt-10 font-sans">
  <div class="max-w-md bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <h1 class="text-2xl font-bold mb-6">Formulario de liga</h1>
    <form [formGroup]="ligaForm" (submit)="onSubmit()">
      <div class="mb-4">
        <label class="block text-sm font-bold mb-2">Nombre</label>
          <input class="w-full border border-governor-bay-400 rounded p-2" type="text" formControlName="nombre" placeholder="Nombre de la liga">
          <div class="text-red-500" *ngIf="hasError('nombre', 'required')">No has introducido el nombre</div>
          <div class="text-red-500" *ngIf="hasError('nombre', 'minlength')">El nombre es demasiado corto, debe tener al menos 3 carácteres</div>
          <div class="text-red-500" *ngIf="hasError('nombre', 'maxlength')">El nombre es demasiado largo</div>
        </div>
  
      <div class="mb-4">
        <label class="block text-sm font-bold mb-2">País</label>
            <select formControlName="pais" class="w-full border border-governor-bay-400 rounded p-2">
              <option value="">Selecciona un país</option>
              <option value="España">España</option>
              <option value="Francia">Francia</option>
              <option value="Italia">Italia</option>
              <option value="Alemania">Alemania</option>
              <option value="Inglaterra">Inglaterra</option>
              <option value="Portugal">Portugal</option>
              <option value="Países Bajos">Holanda</option>
            </select>
      </div>
  
      <div class="mb-4">
        <label class="block text-sm font-bold mb-2">Deporte</label>
            <select formControlName="deporte" class="w-full border border-governor-bay-400 rounded p-2">
              <option value="">Selecciona un deporte</option>
              <option value="futbol">Fútbol</option>
              <option value="baloncesto">Baloncesto</option>
            </select>
      </div>
      
      <div class="mb-4">
        <label class="block text-sm font-bold mb-2">Logo</label>
          <input class="w-full border border-governor-bay-400 rounded p-2" type="file" (change)="onFileSelected($event)">
      </div>
  
      <div class="mb-4">
          <button class="bg-governor-bay-700 text-white py-2 px-4 rounded inline-block" type="submit">Guardar</button>
      </div>
  
    </form>
  </div>
  
</div>