<div class="font-sans flex justify-center items-center mt-10">
  <div class="max-w-md bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <h1 class="text-2xl font-bold mb-6">Formulario de Camiseta</h1>
    <form [formGroup]="camisetaForm" (ngSubmit)="onSubmit()">
      <!-- Título -->
      <div class="mb-4">
        <label class="block text-sm font-bold mb-2">Título</label>
        <input class="w-full border border-governor-bay-400 rounded p-2" type="text" formControlName="titulo" placeholder="Ingrese el título">
        <div class="text-stiletto-700" *ngIf="hasError('titulo', 'required') && camisetaForm.get('titulo')?.touched">No has introducido el título de la camiseta</div>
        <div class="text-stiletto-700" *ngIf="hasError('titulo', 'minlength')">El título debe tener al menos 3 caracteres</div>
        <div class="text-stiletto-700" *ngIf="hasError('titulo', 'maxlength')">El título no puede tener más de 100 caracteres</div>
      </div>

      <!-- Temporada -->
      <div class="mb-4">
        <label class="block text-sm font-bold mb-2">Temporada</label>
        <select formControlName="temporada" class="w-full border border-governor-bay-400 rounded p-2">
          <option value="">Seleccione la temporada</option>
          <option *ngFor="let temporada of temporadas" [value]="temporada">{{ temporada }}</option>
        </select>
        <div class="text-stiletto-700" *ngIf="hasError('temporada', 'required') && camisetaForm.get('temporada')?.touched">Elige la temporada de la camiseta</div>
      </div>

      <!-- Manga -->
      <div class="mb-4">
        <label class="block text-sm font-bold mb-2">Manga</label>
        <select formControlName="manga" class="w-full border border-governor-bay-400 rounded p-2">
          <option value="">Seleccione el tipo de manga</option>
          <option value="Corta">Corta</option>
          <option value="Larga">Larga</option>
          <option value="Sin Mangas">Sin manga</option>
        </select>
        <div class="text-stiletto-700" *ngIf="hasError('manga', 'required') && camisetaForm.get('manga')?.touched">Elige la longitud de la manga de la camiseta</div>
      </div>

      <!-- Talla -->
      <div class="mb-4">
        <label class="block text-sm font-bold mb-2">Talla</label>
        <select formControlName="talla" class="w-full border border-governor-bay-400 rounded p-2">
          <option value="">Seleccione la talla</option>
          <option value="XS">XS</option>
          <option value="S">S</option>
          <option value="M">M</option>
          <option value="L">L</option>
          <option value="XL">XL</option>
        </select>
        <div class="text-stiletto-700" *ngIf="hasError('talla', 'required') && camisetaForm.get('talla')?.touched">Elige la talla de la camiseta</div>
      </div>

      <!-- Imagen -->
      <div class="mb-4">
        <label class="block text-sm font-bold mb-2">Imagen</label>
        <input class="w-full border border-governor-bay-400 rounded p-2" type="file" (change)="onFileSelected($event)">
      </div>

      <!-- Precio -->
      <div class="mb-4">
        <label class="block text-sm font-bold mb-2">Precio</label>
        <input class="w-full border border-governor-bay-400 rounded p-2" type="number" formControlName="precio" placeholder="Ingrese el precio">
        <div class="text-stiletto-700" *ngIf="hasError('precio', 'required') && camisetaForm.get('precio')?.touched">Especifica el precio de la camiseta</div>
      </div>

      <!-- IVA -->
      <div class="mb-4">
        <label class="block text-sm font-bold mb-2">IVA</label>
        <input class="w-full border border-governor-bay-400 rounded p-2" type="number" formControlName="iva" placeholder="Ingrese el precio">
        <div class="text-stiletto-700" *ngIf="hasError('iva', 'required') && camisetaForm.get('iva')?.touched">Fija el IVA de la camiseta</div>
      </div>

      <div class="mb-4">
        <label class="block text-sm font-bold mb-2">Descuento</label>
        <select formControlName="descuento" id="descuento" class="w-full border border-governor-bay-400 rounded p-2">
          <option [ngValue]="false">Sin descuento</option>
          <option [ngValue]="true">Con descuento</option>
        </select>
        <div class="text-stiletto-700" *ngIf="hasError('descuento', 'required') && camisetaForm.get('descuento')?.touched">Especifica si esta camiseta tiene descuento</div>
      </div>

      <div class="mb-4">
        <label class="block text-sm font-bold mb-2">Porcentaje de Descuento</label>
        <input class="w-full border border-governor-bay-400 rounded p-2" type="number" formControlName="porcentajeDescuento" placeholder="Ingrese el porcentaje de descuento">
      </div>

      <!-- Stock -->
      <div class="mb-4">
        <label class="block text-sm font-bold mb-2">Stock</label>
        <input class="w-full border border-governor-bay-400 rounded p-2" type="number" formControlName="stock" placeholder="Ingrese el stock">
        <div class="text-stiletto-700" *ngIf="hasError('stock', 'required') && camisetaForm.get('stock')?.touched">Especifica el número de unidades disponibles de la camiseta</div>
      </div>

      <!-- Equipo -->
      <div class="mb-4">
        <label class="block text-sm font-bold mb-2">Equipo</label>
        <button class="bg-tradewind-400 text-white py-2 px-4 rounded inline-block" (click)="onShowEquiposSelection()">Seleccionar Equipo</button> {{ camiseta.equipo.nombre }}
      </div>

      <!-- Modalidad -->
      <div class="mb-4">
        <label class="block text-sm font-bold mb-2">Modalidad</label>
        <button class="bg-tradewind-400 text-white py-2 px-4 rounded inline-block" (click)="onShowModalidadSelection()">Seleccionar Modalidad</button> {{ camiseta.modalidad.nombre }}
      </div>

      <!-- Liga -->
      <div class="mb-4">
        <label class="block text-sm font-bold mb-2">Liga</label>
        <button class="bg-tradewind-400 text-white py-2 px-4 rounded inline-block" (click)="onShowLigaSelection()">Seleccionar Liga</button> {{ camiseta.liga.nombre }}
      </div>

      <!-- Botones -->
      <div class="flex items-center justify-between">
        <button class="bg-governor-bay-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mr-2" type="submit">Guardar</button>
        <button class="bg-stiletto-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" [routerLink]="['/admin', 'camiseta', 'plist']">Cancelar</button>
      </div>
    </form>
  </div>
</div>
