<div class="container">
  <div class="columns">
    <div class="column is-6">
      <img src="{{ camiseta.imagen }}" alt="{{ camiseta.titulo }}" class="image">
    </div>
    <div class="column is-6">
      <h1 class="title">{{ camiseta.titulo }}</h1>
      <p><strong>Equipo:</strong> {{ camiseta.equipo.nombre }}</p>
      <p><strong>Tipo de camiseta:</strong>{{camiseta.modalidad.nombre}}</p>
      <p><strong>Precio:</strong> {{ camiseta.precio }}€</p>
      <p><strong>Talla {{camiseta.talla}}</strong></p>
      <p><strong>Longitud de la manga: {{camiseta.manga}}</strong></p>
      <p><strong>IVA: {{camiseta.iva}}</strong></p>
      <ng-container *ngIf="camiseta.stock > 25">
        <p><strong>Stock:</strong> Camiseta disponible en tienda</p>
      </ng-container>
      <ng-container *ngIf="camiseta.stock <= 25 && camiseta.stock > 10">
        <p><strong>Stock:</strong> Quedan pocas camisetas en tienda</p>
      </ng-container>
      <ng-container *ngIf="camiseta.stock <= 10">
        <p><strong>Stock:</strong> ¡Últimas unidades disponibles!</p>
      </ng-container>

      <div class="field">
        <label class="label">Cantidad:</label>
        <div class="control">
          <input class="input" type="number" min="1" max="{{camiseta.stock}}" [(ngModel)]="cantidadSeleccionada">
        </div>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary" (click)="agregarAlCarrito()">Agregar al carrito</button>
        </div>
        <div class="control">
          <button class="button is-success" (click)="comprarDirectamente()">Comprar directamente</button>
        </div>
        <div class="control">
          <button class="button is-link" (click)="realizarValoracion(camiseta)">Escribir valoración</button>
        </div>
      </div>
    </div>
  </div>
</div>

<p-confirmPopup></p-confirmPopup>