<div class="font-sans container mx-auto mt-8 px-4 lg:px-0">
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
    <div class="lg:order-2">
      <img [src]="camiseta.imagen" [alt]="camiseta.titulo" class="w-full rounded-lg">
    </div>
    <div class="lg:order-1">
      <h1 class="text-3xl font-bold mb-4">{{ camiseta.titulo }}</h1>
      <p><strong>Equipo: {{ camiseta.equipo.nombre }}</strong></p>
      <p><strong>Tipo de camiseta:{{ camiseta.modalidad.nombre }}</strong></p>
      <p><strong>Precio:</strong> {{ camiseta.precio }}€</p>
      <p><strong>Talla {{ camiseta.talla }}</strong></p>
      <p><strong>Longitud de la manga: {{ camiseta.manga }}</strong></p>
      <p><strong>IVA: {{ camiseta.iva }}%</strong></p>
      <ng-container *ngIf="camiseta.stock > 25">
        <p><strong>Stock:</strong> Camiseta disponible en tienda</p>
      </ng-container>
      <ng-container *ngIf="camiseta.stock <= 25 && camiseta.stock > 10">
        <p><strong>Stock:</strong> Quedan pocas camisetas en tienda</p>
      </ng-container>
      <ng-container *ngIf="camiseta.stock <= 10">
        <p><strong>Stock:</strong> ¡Últimas unidades disponibles!</p>
      </ng-container>
      <ng-container *ngIf="camiseta.descuento">
        <p><strong>¡Llevate esta camiseta con un descuento del {{camiseta.porcentajeDescuento}}%!</strong></p>
      </ng-container>
      <ng-container *ngIf="!camiseta.descuento">
        <p><strong>Esta camiseta no se encuentra actualmente en promoción</strong></p>
      </ng-container>
      <p>Envío rápido, fiable y seguro <strong><i class="pi pi-truck ml-2"></i></strong> </p>
      <p>Entrega en un plazo de 48-72 horas desde la realización del pedido <strong><i class="pi pi-calendar ml-2"></i></strong></p>

      <div class="mt-6">
        <label class="block text-sm font-medium">Cantidad:</label>
        <input class="w-full form-input" type="number" min="1" max="{{ camiseta.stock }}" [(ngModel)]="cantidadSeleccionada" (keydown)="handleKeyDown($event)">
      </div>
      <div class="mt-6">
        <h4 class="font-bold">Siéntete como un auténtico jugador y personaliza tu camiseta (opcional)</h4>
      </div>
      <div class="mt-2">
        <label class="block text-sm font-medium">Nombre Personalizado:</label>
        <input class="w-full form-input" type="text" [(ngModel)]="nombre">
    </div>
    <div class="mt-2">
        <label class="block text-sm font-medium">Dorsal Personalizado:</label>
        <input class="w-full form-input" type="number" [(ngModel)]="dorsal">
    </div>
      <div class="mt-6 space-y-4">
        <button class="w-full px-4 py-2 bg-tradewind-500 hover:bg-tradewind-600 text-white rounded-md" (click)="agregarAlCarrito()" [disabled]="camiseta.stock == 0">
          <i class="pi pi-shopping-cart mr-2"></i>
          Agregar al carrito
        </button>
        <button class="w-full px-4 py-2 bg-tradewind-700 hover:bg-tradewind-800 text-white rounded-md" (click)="comprarDirectamente()" [disabled]="camiseta.stock == 0">
          <i class="pi pi-euro mr-2"></i>
          Comprar directamente
        </button>
        <button *ngIf="usuarioHaComprado && !usuarioHaValorado" class="w-full px-4 py-2 bg-governor-bay-600 hover:bg-governor-bay-700 text-white rounded-md" (click)="realizarValoracion(camiseta)">
          <i class="pi pi-pencil mr-2"></i>
          Escribir valoración
        </button>
        <button *ngIf="!usuarioHaComprado" class="w-full px-4 py-2 bg-governor-bay-600 hover:bg-governor-bay-700 text-white rounded-md" (click)="mostrarAdvertenciaCompra()">
          <i class="pi pi-times-circle"></i>
          No puedes valorar esta camiseta
        </button>
        <button *ngIf="usuarioHaValorado" class="w-full px-4 py-2 bg-governor-bay-600 hover:bg-governor-bay-700 text-white rounded-md" (click)="mostrarAdvertenciaValoracion()">
          <i class="pi pi-times-circle"></i>
          No puedes valorar esta camiseta
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container mx-auto mt-8 mb-8 px-4 lg:px-0">
  <h1 class="text-2xl font-bold mb-4">Valoraciones</h1>
  <div class="overflow-y-auto max-h-96">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
      <div *ngFor="let valoracion of page?.content">
        <div class="w-full h-full bg-white rounded-lg overflow-hidden shadow-md"> <!-- Establecemos un tamaño fijo y ocultamos el overflow -->
          <div class="p-4">
            <p class="text-lg font-semibold">{{ valoracion.usuario.username }}</p>
            <p class="text-sm">{{ valoracion.fecha | date: 'dd-MM-yyyy' }}</p>
            <p class="mt-2">{{ valoracion.comentario }}</p>
            <button *ngIf="isUsuarioValoracion(valoracion)" class="mt-2 w-full px-4 py-2 bg-stiletto-500 hover:bg-stiletto-700 text-white rounded-md" (click)="borrarValoracion(valoracion.id)">Borrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<p-confirmPopup></p-confirmPopup>
