<div class="container mx-auto font-sans">
  <div class="flex justify-center">
    <div class="w-full md:w-1/2">
      <div class="bg-white shadow-lg rounded-lg overflow-hidden">
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">Autor@: {{valoracion.usuario.username}}</div>
          <p>
            Fecha: {{ valoracion.fecha | date: 'dd-MM-yyyy' }} <br>
            Comentario: {{ valoracion.comentario }} 
          </p>
        </div>
      </div>
    </div>
  </div>
</div>