<div class="container">
  <table class="table is-fullwidth is-bordered">
    <thead>
      <tr>
        <th>Imagen</th>
        <th>Camiseta</th>
        <th>Talla</th>
        <th>Manga</th>
        <th>Precio</th>
        <th>IVA</th>
        <th>Cantidad</th>
        <th>Coste Total</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let carrito of page?.content">
        <td><img [src]="carrito.camiseta.imagen" alt="Imagen de la camiseta" class="image is-64x64"></td>
        <td>{{carrito.camiseta.titulo}}</td>
        <td>{{carrito.camiseta.talla}}</td>
        <td>{{carrito.camiseta.manga}}</td>
        <td>{{carrito.camiseta.precio | currency }}</td>
        <td>{{carrito.camiseta.iva}}%</td>
        <td>
          <button class="button is-danger" (click)="updateCantidad(carrito, carrito.cantidad - 1)">-</button>
          {{carrito.cantidad}}
          <button class="button is-success" (click)="updateCantidad(carrito, carrito.cantidad + 1)">+</button>
        </td>
        <td>{{ precioIndividualMap.get(carrito.id) | currency }} </td>
        <td>
          <button class="button is-danger" (click)="eliminarDelCarrito(carrito.id)">Eliminar</button>
          <button class="button is-primary" (click)="comprarUnicoCarrito(carrito.id)">Comprar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf=" page && page.content.length > 0">
  <div class="columns is-centered">
    <div class="column is-half">
      <div class="box">
        <h3 class="title is-4">Total</h3>
        <p>Coste total (incluyendo IVA): {{ costeTotal | currency }}</p>
        <button class="button is-primary" (click)="usuario && eliminarTodosCarritos(usuario.id)">Vacíar el carrito</button>
        <button class="button is-success" (click)="comprarTodosCarritos()">Comprar</button>
      </div>
    </div>
  </div>
  </div>

  <div class="columns is-centered">
    <div class="column is-half">
      <a class="button is-info" [routerLink]="['/usuario', 'camiseta', 'plist']">Seguir comprando</a>
    </div>
  </div>

</div>
