<div class="container mx-auto">
  <div class="flex justify-center">
    <div class="w-full md:w-1/2">
      <div class="bg-white shadow-lg rounded-lg overflow-hidden">
        <div class="aspect-w-4 aspect-h-3">
          <img [src]="camiseta.imagen" alt="Imagen de la camiseta" class="object-cover w-full h-full">
        </div>
        <div class="px-6 py-4">
          <div class="font-sans font-bold text-xl mb-2">{{ camiseta.titulo }}</div>
          <p class="text-gray-700 text-base">
            Talla: {{ camiseta.talla }} <br>
            Manga: {{ camiseta.manga }} <br>
            Temporada: {{ camiseta.temporada }} <br>
            Precio: {{ camiseta.precio }} <br>
            IVA: {{ camiseta.iva }} <br>
            Stock: {{ camiseta.stock }} <br>
            Equipo: {{ camiseta.equipo.nombre }} <br>
            Modalidad: {{ camiseta.modalidad.nombre }} <br>
            Liga: {{ camiseta.liga.nombre }} <br>
            Valoraciones: {{ camiseta.valoraciones }} <br>
            Camisetas en carritos: {{ camiseta.carritos }} <br>
            Número de compras: {{ camiseta.detalleCompras }} <br>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
