<div class="container mx-auto font-sans">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4">
    <ng-container *ngFor="let modalidad of page?.content">
      <div class="bg-white rounded-lg shadow-md overflow-hidden transition-transform transform hover:scale-105 sm:hover:scale-100 lg:hover:scale-105 w-full h-full flex flex-col">
        <a [routerLink]="['/usuario', 'camiseta', 'plist', 'bymodalidad', modalidad.id]">
          <img src="{{modalidad.imagen}}" alt="Imagen de la modalidad" class="object-cover h-64 w-full">
        </a>
        <div class="p-4">
          <p class="text-xl font-semibold mb-2">
            <a [routerLink]="['/usuario', 'camiseta', 'plist', 'bymodalidad', modalidad.id]">
              {{ modalidad.nombre }}
            </a>
          </p>
        </div>
      </div>
    </ng-container>
  </div>

  <div *ngIf="page?.content?.length === 0" class="bg-governor-bay-200 text-governor-bay-800 mt-8 p-4 rounded-lg">
    <p class="text-center">No hay modalidades para mostrar.</p>
  </div>

  <div class="flex justify-center mt-4">
    <p-paginator (onPageChange)="onPageChange($event)" [rows]="paginatorState.rows!" [totalRecords]="page?.totalElements || 0" [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
  </div>
</div>
