<div class="flex items-center justify-center min-h-screen font-sans">
  <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-md">
    <h2 class="text-2xl font-semibold text-gray-800 mb-6">Cambiar Contraseña</h2>
    <form [formGroup]="updatePasswordForm" (ngSubmit)="onSumbit()">
      <div class="mb-4">
        <label for="contrasenya" class="block text-gray-700 font-medium mb-2">Nueva Contraseña</label>
        <input type="password" id="contrasenya" formControlName="contrasenya"
               class="w-full px-3 py-2 border border-governor-bay-400 rounded-lg focus:outline-none focus:ring-2 
               focus:ring-governor-bay-400 focus:border-transparent" placeholder="Introduce la nueva contraseña" required>
        <div *ngIf="updatePasswordForm.get('contrasenya')?.invalid && updatePasswordForm.get('contrasenya')?.touched"
             class="text-stiletto-700 text-sm mt-1">
          La contraseña es requerida y debe tener mínimo 8 caracteres.
        </div>
      </div>
      <div class="mb-4">
        <label for="confirmarContrasenya" class="block text-gray-700 font-medium mb-2">Confirmar Contraseña</label>
        <input type="password" id="confirmarContrasenya" formControlName="confirmarContrasenya"
               class="w-full px-3 py-2 border border-governor-bay-400 rounded-lg focus:outline-none focus:ring-2 
               focus:ring-governor-bay-400 focus:border-transparent" placeholder="Confirma la nueva contraseña" required>
        <div *ngIf="updatePasswordForm.get('confirmarContrasenya')?.invalid && updatePasswordForm.get('confirmarContrasenya')?.touched"
             class="text-stiletto-700 text-sm mt-1">
          La confirmación de la contraseña es requerida.
        </div>
      </div>
      <button type="submit" 
              class="w-full bg-tradewind-500 text-white py-2 rounded-lg hover:bg-tradewind-700 transition duration-200 
              ease-in-out">
        Cambiar Contraseña
      </button>
    </form>
  </div>
</div>
