<div class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <button class="button is-primary" (click)="doGenerateCamisetas(10)" [disabled]="bLoading">
          Generar camisetas
        </button>
      </div>
      <div class="column">
        <button class="button is-danger" (click)="doEmpty($event)" [disabled]="bLoading">
          Eliminar camisetas
        </button>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="has-text-centered" *ngIf="bLoading">
          <mat-spinner diameter="30" color="accent"></mat-spinner>
        </div>
      </div>
    </div>
    <app-admin-camiseta-plist-unrouted [forceReload]="forceReload" [id_equipo]="id_equipo" [id_modalidad]="id_modalidad" [id_liga]="id_liga" *ngIf="!bLoading">
    </app-admin-camiseta-plist-unrouted>
  </div>
</div>

<p-confirmPopup></p-confirmPopup>
