<section class="hero is-fullheight is-primary is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="card">
        <div class="card-content">
          <p class="title has-text-info">
            ¿Estás seguro de que quieres cerrar sesión?
          </p>
          <div class="buttons is-centered">
            <a class="button is-danger" (click)="logout()">Sí</a>
            <a class="button is-primary" (click)="cancel()">No</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>