<div class="container mx-auto font-sans">

  <div class="mt-4" *ngIf="id_usuario > 0">
    <div class="bg-governor-bay-100 border border-governor-bay-400 text-governor-bay-700 px-4 py-3 rounded relative" role="alert">
      Filtrando por usuario: {{ usuario?.nombre }} {{ usuario?.apellido }}
      <button class="absolute top-0 bottom-0 right-0 px-4 py-3" [routerLink]="['/admin', 'valoracion', 'plist']">
        <svg class="fill-current h-6 w-6 text-blue-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <title>Close</title>
          <path fill-rule="evenodd" d="M3.293 4.293a1 1 0 011.414 0L10 8.586l5.293-5.293a1 1 0 111.414 1.414L11.414 10l5.293 5.293a1 1 0 01-1.414 1.414L10 11.414l-5.293 5.293a1 1 0 01-1.414-1.414L8.586 10 3.293 4.707a1 1 0 010-1.414z" clip-rule="evenodd" />
        </svg>
      </button>
    </div>
  </div>

  <div class="mt-4" *ngIf="id_camiseta > 0">
    <div class="bg-governor-bay-100 border border-governor-bay-400 text-governor-bay-700 px-4 py-3 rounded relative" role="alert">
      Filtrando por camiseta: {{ camiseta?.titulo }}
      <button class="absolute top-0 bottom-0 right-0 px-4 py-3" [routerLink]="['/admin', 'valoracion', 'plist']">
        <svg class="fill-current h-6 w-6 text-blue-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <title>Close</title>
          <path fill-rule="evenodd" d="M3.293 4.293a1 1 0 011.414 0L10 8.586l5.293-5.293a1 1 0 111.414 1.414L11.414 10l5.293 5.293a1 1 0 01-1.414 1.414L10 11.414l-5.293 5.293a1 1 0 01-1.414-1.414L8.586 10 3.293 4.707a1 1 0 010-1.414z" clip-rule="evenodd" />
        </svg>
      </button>
    </div>
  </div>

  <!-- Menú desplegable para ordenar -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
  <div class="field">
    <label class="label">Ordenar por:</label>
    <div class="control">
      <div class="select">
        <select #selectEvent (change)="doOrder(selectEvent.value)">
          <option value="fecha">Fecha</option>
          <option value="usuario">Usuario</option>
          <option value="camiseta">Camiseta</option>
        </select>
      </div>
    </div>
  </div>
  </div>

  <!-- Contenido de valoraciones -->
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-4">
  <ng-container *ngIf="page?.content">
    <div class="column" *ngFor="let valoracion of page?.content">
      <div class="card h-full flex flex-col">
        <div class="card-content flex-grow">
            <p class="title text-xl cursor-pointer" (click)="doView(valoracion)">Valoración hecha por {{valoracion.usuario.username}}</p>
            <p><strong>Fecha:</strong> {{ valoracion.fecha | date: 'dd-MM-yyyy'}} <br>
            <strong>Usuario:</strong><a [routerLink]="['/admin', 'valoracion', 'plist', 'byusuario', valoracion.usuario.id]" class="text-blue-500"> {{ valoracion.usuario.nombre }} {{ valoracion.usuario.apellido}}</a> <br>
            <strong>Camiseta:</strong><a [routerLink]="['/admin', 'valoracion', 'plist', 'bycamiseta', valoracion.camiseta.id]"  class="text-blue-500"> {{ valoracion.camiseta.titulo }}</a></p>
        </div>
        <footer class="card-footer">
          <button class="card-footer-item text-white bg-tradewind-500 hover:bg-tradewind-700" [routerLink]="['/admin', 'valoracion', 'edit', valoracion.id]">
            <i class="pi pi-pencil mr-2"></i>
            Editar
          </button>
          <button class="card-footer-item text-white bg-stiletto-500 hover:bg-stiletto-700" (click)="doRemove(valoracion)">
            <i class="pi pi-trash mr-2"></i>
            Eliminar
          </button>
        </footer>
      </div>
    </div>
  </ng-container>
  <div class="column" *ngIf="!page?.content || page?.content?.length === 0">
      <div class="notification bg-governor-bay-200 text-governor-bay-800">
          No hay valoraciones para mostrar.
      </div>
    </div>
  </div>

  <!-- Mensaje si no hay valoraciones -->
  
  <!-- Paginación -->
  <div class="flex justify-center mb-3">
    <p-paginator (onPageChange)="onPageChange($event)" [rows]="paginatorState.rows!" [totalRecords]="page?.totalElements || 0" [rowsPerPageOptions]="[12, 24, 36]"></p-paginator>
  </div>
</div>
