<div class="container mx-auto px-4 font-sans">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    <ng-container *ngFor="let compra of page?.content">
      <div class="bg-white shadow-lg rounded-lg overflow-hidden">
        <div class="card-content p-4">
          <p class="text-xl font-bold mb-2">Compra #{{compra.codigoPedido}}</p>
          <p class="text-sm mb-2">Fecha: {{compra.fecha | date: 'dd/MM/yyyy'}}</p>
          <a [routerLink]="['/usuario', 'compra', 'view', compra.id]" class="text-blue-500">Ver detalles de la compra</a>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="notification bg-governor-bay-200 text-governor-bay-800 text-center my-4" *ngIf="!page?.content || page?.content?.length === 0">
    No has hecho ninguna compra todavía. <a [routerLink]="['/usuario', 'camiseta', 'plist']" class="underline">Seguir comprando</a>
  </div>

  <div class="text-center mb-4 mt-8">
    <a class="bg-governor-bay-500 hover:bg-governor-bay-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" [routerLink]="['/usuario', 'camiseta', 'plist']">
      <i class="pi pi-shopping-bag mr-2"></i>
      Seguir comprando</a>
  </div>

  <div class="flex justify-center mt-4">
    <p-paginator (onPageChange)="onPageChange($event)" [rows]="paginatorState.rows!" [totalRecords]="page?.totalElements || 0" [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
  </div>
</div>
