<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/home">
      <img src="http://localhost:8085/media/Captura%20de%20pantalla%202024-01-26%20a%20las%2012.35.57.png" alt="Logo">
    </a>
  </div>

  <div id="navbar" class="navbar-menu">
    <div class="navbar-start">
      <ng-container *ngIf="username && userSesion?.tipo==true">
      <a class="navbar-item" [routerLink]="['/admin', 'usuario', 'plist']">
        Usuarios
      </a>
      <a class="navbar-item" [routerLink]="['/admin', 'camiseta', 'plist']">
        Camisetas
      </a>
      <a class="navbar-item" [routerLink]="['/admin', 'valoracion', 'plist']">
        Valoraciones
      </a>
      <a class="navbar-item" [routerLink]="['/admin', 'equipo', 'plist']">
        Equipos
      </a>
      <a class="navbar-item" [routerLink]="['/admin', 'modalidad', 'plist']">
        Modalidades
      </a>
      <a class="navbar-item" [routerLink]="['/admin', 'liga', 'plist']">
        Ligas
      </a>
      </ng-container>
      <ng-container *ngIf="username && userSesion?.tipo==false">
        <a class="navbar-item" [routerLink]="['/usuario', 'camiseta', 'plist']">
          Camisetas
        </a>
        <a class="navbar-item" [routerLink]="['/usuario', 'equipo', 'plist']">
          Equipos
        </a>
        <a class="navbar-item" [routerLink]="['/usuario', 'modalidad', 'plist']">
          Modalidades
        </a>
        <a class="navbar-item" [routerLink]="['/usuario', 'liga', 'plist']">
          Ligas
        </a>

      </ng-container>
      <!-- Puedes agregar más opciones según tus necesidades -->
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <!-- Verificar si el usuario ha iniciado sesión -->
          <ng-container *ngIf="username">
            <!-- Mostrar opciones de usuario -->
            <a class="navbar-item">
              ¡Bienvenid@, {{ username }}!
            </a>
            <a class="navbar-item">
              Perfil
            </a>
            <a class="navbar-item" href="#">
              Configuración
            </a>
            <a class="navbar-item" routerLink="/logout">
              <i class="pi pi-power-off"></i>
            </a>
            <!-- Mostrar carrito solo si el usuario ha iniciado sesión -->
            <a class="button is-light" href="#">
              <span class="icon">
                <i class="pi pi-shopping-cart"></i>
              </span>
            </a>
          </ng-container>
          <!-- Si el usuario no ha iniciado sesión, mostrar botón para iniciar sesión -->
          <a class="button is-light" routerLink="/login" *ngIf="!username">
            Iniciar sesión
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
