<nav class="bg-tradewind-500 border-gray-200 dark:bg-gray-900">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a routerLink="/home" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="http://localhost:8085/media/Captura%20de%20pantalla%202024-01-26%20a%20las%2012.35.57.png" class="h-8" alt="Logo de 90:24"/>
    </a>
    <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-tradewind-500 rounded-lg bg-tradewind-500 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-tradewind-500 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <ng-container *ngIf="username && userSesion?.tipo==true">
          <!-- Menú para usuario administrador -->
          <li>
            <a class="block py-2 px-3 text-white hover:bg-tradewind-600 md:hover:bg-tradewind-600 md:border-0 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent {{ url.startsWith('/admin/usuario') ? 'bg-tradewind-700' : '' }}" [routerLink]="['/admin', 'usuario', 'plist']">Usuarios</a>
          </li>
          <li>
            <a class="block py-2 px-3 text-white hover:bg-tradewind-600 md:hover:bg-tradewind-600 md:border-0 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent {{ url.startsWith('/admin/camiseta') ? 'bg-tradewind-700' : '' }}" [routerLink]="['/admin', 'camiseta', 'plist']">Camisetas</a>
          </li>
          <li>
            <a class="block py-2 px-3 text-white hover:bg-tradewind-600 md:hover:bg-tradewind-600 md:border-0 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent {{ url.startsWith('/admin/valoracion') ? 'bg-tradewind-700' : '' }}"  [routerLink]="['/admin', 'valoracion', 'plist']">Valoraciones</a>
          </li>
          <li>
            <a class="block py-2 px-3 text-white hover:bg-tradewind-600 md:hover:bg-tradewind-600 md:border-0 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent {{ url.startsWith('/admin/equipo') ? 'bg-tradewind-700' : '' }}" [routerLink]="['/admin', 'equipo', 'plist']">Equipos</a>
          </li>
          <li>
            <a class="block py-2 px-3 text-white hover:bg-tradewind-600 md:hover:bg-tradewind-600 md:border-0 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent {{ url.startsWith('/admin/modalidad') ? 'bg-tradewind-700' : '' }} " [routerLink]="['/admin', 'modalidad', 'plist']">Modalidades</a>
          </li>
          <li>
            <a class="block py-2 px-3 text-white hover:bg-tradewind-600 md:hover:bg-tradewind-600 md:border-0 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent {{ url.startsWith('/admin/liga') ? 'bg-tradewind-700' : '' }}" [routerLink]="['/admin', 'liga', 'plist']">Ligas</a>
          </li>
        </ng-container>
        <ng-container *ngIf="username && userSesion?.tipo==false">
          <!-- Menú para usuario regular -->
          <li>
            <a href="#" class="block py-2 px-3 text-white hover:bg-tradewind-600 md:hover:bg-tradewind-600 md:border-0 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent {{ url.startsWith('/usuario/camiseta') ? 'bg-tradewind-700' : '' }}" [routerLink]="['/usuario', 'camiseta', 'plist']">Camisetas</a>
          </li>
          <li>
            <a href="#" class="block py-2 px-3 text-white hover:bg-tradewind-600 md:hover:bg-tradewind-600 md:border-0 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent {{ url.startsWith('/usuario/equipo') ? 'bg-tradewind-700' : '' }}" [routerLink]="['/usuario', 'equipo', 'plist']">Equipos</a>
          </li>
          <li>
            <a href="#" class="block py-2 px-3 text-white hover:bg-tradewind-600 md:hover:bg-tradewind-600 md:border-0 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent {{ url.startsWith('/usuario/modalidad') ? 'bg-tradewind-700' : '' }}" [routerLink]="['/usuario', 'modalidad', 'plist']">Modalidades</a>
          </li>
          <li>
            <a href="#" class="block py-2 px-3 text-white hover:bg-tradewind-600 md:hover:bg-tradewind-600 md:border-0 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent {{ url.startsWith('/usuario/liga') ? 'bg-tradewind-700' : '' }}" [routerLink]="['/usuario', 'liga', 'plist']">Ligas</a>
          </li>
          <li>
            <a href="#" class="block py-2 px-3 text-white hover:bg-tradewind-600 md:hover:bg-tradewind-600 md:border-0 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent {{ url.startsWith('/usuario/compra') ? 'bg-tradewind-700' : '' }}" [routerLink]="['/usuario', 'compra', 'plist', userSesion?.id]">Mis compras</a>
          </li>
        </ng-container>
        
        <!-- Contenido para usuarios logueados -->
        <ng-container *ngIf="username">
          <li>
            <a class="block py-2 px-3 text-white hover:bg-tradewind-600 md:hover:bg-tradewind-600 md:border-0 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent {{ url.startsWith('/usuario/usuario') ? 'bg-tradewind-700' : '' }}" [routerLink]="['/usuario', 'usuario', 'view', userSesion?.id]">¡Bienvenid@, {{ username }}!</a>
          </li>
          <li>
            <a class="block py-2 px-3 text-white hover:bg-tradewind-600 md:hover:bg-tradewind-600 md:border-0 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent {{ url == '/logout' ? 'bg-tradewind-700' : ''}}" routerLink="/logout">
              <i class="pi pi-power-off"></i>
            </a>
          </li>
          <li *ngIf="userSesion?.tipo==false">
            <a class="button is-light text-black {{ url.startsWith('/usuario/carrito') ? 'bg-tradewind-700' : '' }}" [routerLink]="['/usuario', 'carrito', 'plist']">
              <span class="icon">
                <i class="pi pi-shopping-cart"></i>
              </span>
            </a>
          </li>
        </ng-container>

        <!-- Contenido para usuarios no logueados -->
        <li *ngIf="!username">
          <a class="button is-light text-black" routerLink="/login">Iniciar sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


