<div class="flex justify-center items-center">
  <div class="max-w-sm rounded overflow-hidden shadow-lg">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">Información del equipo</div>
    </div>
    <img class="w-full h-80" src="{{ equipo.imagen }}" alt="Imagen del equipo">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">{{ equipo.nombre }}</div>
      <p class="text-gray-700 text-base">
        Liga: {{ equipo.liga.nombre }}
      </p>
      <p class="text-gray-700 text-base">
        Número de camisetas: {{ equipo.camisetas }}
      </p>
    </div>
  </div>
</div>
