<div class="container">
  <div class="columns is-centered">
    <div class="column is-half">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            Información del equipo
          </p>
        </header>
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="{{equipo.imagen}}" alt="Imagen del equipo">
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            <h5 class="title is-5">{{ equipo.nombre }}</h5>
            <p>Liga: {{equipo.liga.nombre}}</p>
            <p>Número de camisetas: {{equipo.camisetas}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>