<div class="container mx-auto px-4">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    <ng-container *ngFor="let liga of page?.content">
      <div class="bg-white shadow-lg rounded-lg overflow-hidden">
        <div class="card-image">
          <a [routerLink]="['/usuario', 'camiseta', 'plist', 'byliga', liga.id]">
            <img src="{{ liga.imagen }}" alt="Imagen de la liga" class="object-cover h-48 md:h-64 w-full">
          </a>
        </div>
        <div class="card-content p-4">
          <p class="text-xl font-bold mb-2">
            <a [routerLink]="['/usuario', 'camiseta', 'plist', 'byliga', liga.id]">{{ liga.nombre }}</a>
          </p>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="notification bg-governor-bay-200 text-governor-bay-800 text-center my-4" *ngIf="!page?.content || page?.content?.length === 0">
    No hay ligas para mostrar.
  </div>

  <div class="flex justify-center">
    <p-paginator (onPageChange)="onPageChange($event)" [rows]="paginatorState.rows!" [totalRecords]="page?.totalElements || 0" [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
  </div>
</div>
