<div class="table-container">
  <table class="table botder-collapse w-full">
    <thead class="bg-gray-200">
      <tr>
        <th (click)="doOrder('id')" class="cursor-pointer py-2 px-4">Id</th>
        <th (click)="doOrder('nombre')" class="cursor-pointer py-2 px-4">Nombre</th>
        <th (click)="doOrder('apellido')" class="cursor-pointer py-2 px-4">Apellido</th>
        <th (click)="doOrder('username')" class="cursor-pointer py-2 px-4">Username</th>
        <th (click)="doOrder('tipo')" class="cursor-pointer py-2 px-4">Tipo</th>
        <th class="py-2 px-4">Compras</th>
        <th class="py-2 px-4">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of page?.content" class="border-b border-gray-200">
        <td class="py-2 px-4">{{usuario.id}}</td>
        <td class="py-2 px-4">{{usuario.nombre}}</td>
        <td class="py-2 px-4">{{usuario.apellido}}</td>
        <td class="py-2 px-4">{{usuario.username}}</td>
        <td class="py-2 px-4">{{usuario.tipo ? 'Administrador' : 'Usuario normal'}}</td>
        <td class="py-2 px-4">{{usuario.compras}}</td>
        <td>
         <button class="bg-governor-bay-500 hover:bg-governor-bay-700 text-white font-bold py-2 px-4 rounded" (click)="onSelectUsuario(usuario)">Seleccionar</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="pagination-container mt-4">
    <p-paginator (onPageChange)="onPageChange($event)" [rows]="paginatorState.rows!" [totalRecords]="page?.totalElements || 0" [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
  </div>
  </div>
