<div class="container mx-auto font-sans">

  <div class="mt-4 mb-3 flex justify-center">
    <input type="text" class="border brder-gray-300 px-4 py-2 rounded-lg w-full sm:w-auto md:w-96" [(ngModel)]="filtro"
      (ngModelChange)="onInputChange($event)" placeholder="Busca el equipo que quieras...">
  </div>
 
  <div class="mt-4" *ngIf="id_liga > 0">
    <div class="bg-governor-bay-100 border border-governor-bay-400 text-governor-bay-700 px-4 py-3 rounded relative" role="alert">
      Filtrando por liga: {{ liga?.nombre }}
      <button class="absolute top-0 bottom-0 right-0 px-4 py-3" [routerLink]="['/admin', 'equipo', 'plist']">
        <svg class="fill-current h-6 w-6 text-blue-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <title>Close</title>
          <path fill-rule="evenodd" d="M3.293 4.293a1 1 0 011.414 0L10 8.586l5.293-5.293a1 1 0 111.414 1.414L11.414 10l5.293 5.293a1 1 0 01-1.414 1.414L10 11.414l-5.293 5.293a1 1 0 01-1.414-1.414L8.586 10 3.293 4.707a1 1 0 010-1.414z" clip-rule="evenodd" />
        </svg>
      </button>
    </div>
  </div>


  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div class="field">
      <label class="label">Ordenar por:</label>
        <div class="control">
          <div class="select">
            <select #selectElement (change)="doOrder(selectElement.value)">
              <option value="nombre">Nombre</option>
              <option value="liga.nombre">Liga</option>
              <option value="camisetas">Número de Camisetas</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-4">
      <ng-container *ngIf="page?.content">
      <div class="column" *ngFor="let equipo of page?.content">
        <div class="card h-full flex flex-col">
          <div class="card-image">
              <img src="{{equipo.imagen}}" alt="Imagen del equipo" class="w-full h-80 object-cover">
          </div>
          <div class="card-content flex-grow">
            <div class="content">
              <p class="title text-xl cursor-pointer" (click)="doView(equipo)"> {{equipo.nombre}} </p>
              <p><strong>Liga</strong> <a [routerLink]="['/admin', 'equipo', 'plist', 'byliga', equipo.liga.id]" class="text-blue-500"> {{ equipo.liga.nombre }}</a></p>
              <p><strong>Número de camisetas:</strong> 
                  <ng-container *ngIf="equipo.camisetas > 0; else noCamisetas">
                    <a [routerLink]="['/admin', 'camiseta', 'plist', 'byequipo', equipo.id]" class="text-blue-500"> {{ equipo.camisetas }}</a>
                  </ng-container>
                  <ng-template #noCamisetas>
                    {{equipo.camisetas}}
                  </ng-template>
              </p>
            </div>
          </div>
          <footer class="card-footer">
            <button class="card-footer-item text-white bg-tradewind-500 hover:bg-tradewind-700" [routerLink]="['/admin', 'equipo', 'edit', equipo.id]">
              <i class="pi pi-pencil mr-2"></i>
              Actualizar
            </button>
            <button class="card-footer-item text-white bg-stiletto-500 hover:bg-stiletto-700" (click)="doRemove(equipo)" [class.invisible]="equipo.camisetas > 0">
              <i class="pi pi-trash mr-2"></i>
              Eliminar
            </button>
          </footer>
        </div>
      </div>
      </ng-container>
      <div class="column" *ngIf="!page?.content || page?.content?.length === 0">
        <div class="notification bg-governor-bay-200 text-governor-bay-800">
          No se encontraron equipos.
        </div>
       </div>
    </div>

    <div class="level is-justify-content-center mb-3">
      <p-paginator (onPageChange)="onPageChange($event)" [rows]="paginatorState.rows!" [totalRecords]="page?.totalElements || 0" [rowsPerPageOptions]="[12, 24, 36]"></p-paginator>
    </div>

  </div>