<div class="container mx-auto">
    <div class="notification" *ngIf="id_liga>0">
      Filtrando por liga: {{ liga?.nombre}}
      <button class="delete" *ngIf="id_liga>0" [routerLink]="['/admin', 'equipo', 'plist']">Quitar filtro</button>
    </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div class="field">
      <label class="label">Ordenar por:</label>
        <div class="control">
          <div class="select">
            <select #selectElement (change)="doOrder(selectElement.value)">
              <option value="nombre">Nombre</option>
              <option value="liga.nombre">Liga</option>
              <option value="camisetas">Número de Camisetas</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-4">
      <ng-container *ngIf="page?.content">
      <div class="column" *ngFor="let equipo of page?.content">
        <div class="card">
          <div class="card-image">
              <img src="{{equipo.imagen}}" alt="Imagen del equipo" class="w-full h-80 object-cover">
          </div>
          <div class="card-content">
            <div class="content">
              <p class="title text-xl cursor-pointer" (click)="doView(equipo)"> {{equipo.nombre}} </p>
              <p>Liga: <a [routerLink]="['/admin', 'equipo', 'plist', 'byliga', equipo.liga.id]">{{ equipo.liga.nombre }}</a></p>
              <p>Número de camisetas: <a [routerLink]="['/admin', 'camiseta', 'plist', 'byequipo', equipo.id]">{{ equipo.camisetas }}</a></p>
            </div>
          </div>
          <footer class="card-footer">
            <a class="card-footer-item" [routerLink]="['/admin', 'equipo', 'edit', equipo.id]">Actualizar</a>
            <a class="card-footer-item" (click)="doRemove(equipo)">Eliminar</a>
          </footer>
        </div>
      </div>
      </ng-container>
      <div class="column" *ngIf="!page?.content || page?.content?.length === 0">
        <div class="notification bg-governor-bay-200">
          No se encontraron equipos.
        </div>
       </div>
    </div>

    <div class="level is-justify-content-center mb-3">
      <p-paginator (onPageChange)="onPageChange($event)" [rows]="paginatorState.rows!" [totalRecords]="page?.totalElements || 0" [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
    </div>

  </div>